        # Лог-файлы
        *.log
        npm-debug.log*
        yarn-debug.log*
        yarn-error.log*

        # Зависимости Node.js
        /node_modules

        # Зависимости Python
        __pycache__/
*.pyc
        .venv/
        venv/

        # Зависимости PHP
        /vendor

        # IDE и ОС файлы
        .DS_Store # macOS
        .vscode/ # VS Code
        .idea/ # IntelliJ
        *.suo
        *.user
        *.userosscache
        *.sln.docstates

        # Скомпилированные файлы
        /build
        /dist
        /out

        # Конфигурационные файлы
        .env
        *.env
        config.local.js

    # Visual Studio files
    .vs/
    *.vspscc
    *.vssscc
    *.user
    *.suo
    *.sln
    *.pyproj # Добавьте это, чтобы Git тоже их игнорировал
